.authors_list {
    margin: 80px;
    
}
.author {
    display: inline-block;
    margin: 20px;
    padding: 0px;
    background-color: #005c80;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans MT';
}
.box {
    height: 400px;
}
.right_box {
    display: block;
    margin-top: -20px;
    text-align: left;
    float: right;
    width: 70%;
}
.author_image {
    position: absolute;
    display: block;
    width: 20%;
    padding: 0px 30px;
    float: left;
}
.book_list {
    margin: 300px 0px 0px 0px;
}